{% load static %}

<footer id="contact">
    <div class="container-fluid bg-dark text-light mt-5 pt-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <h6>Contact Us</h6>
                    <p class="font-weight-light">markosunilek@gmail.com</p>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <h6>Follow Us</h6>
                    <p class="font-weight-light">
                        <a href="#"><img src="{% static "polls/images/reddit.png" %}" alt="Facebook" class="img-fluid" style="width: auto; height: 30px; object-fit: scale-down;"></a>
                        <a href="#"><img src="{% static "polls/images/discord.jpg" %}" alt="Instagram" class="img-fluid" style="width: auto; height: 30px; object-fit: scale-down;"></a>
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h5>
                        <img src="{% static "polls/images/logo.jpg" %}" width="30" height="30" alt="logo">
                        Stronka
                    </h5>
                    <p style="font-size: 12px">Tu powstała stronka</p>
                </div>
            </div>
        </div>
        <div class="container text-center py-3">
            <p style="font-size:12px">Copyright © 2021 All Rights Reserved.</p>
        </div>
    </div>
</footer>