{% extends "header.html" %}
{% load crispy_forms_filters %}

{% block content %}

    {% load crispy_forms_tags %}

    <!--Zawody-->
    <div class="container py-5">
        <div class="row">
            <h1 class="font-weight-bold">Drużyny</h1>
            {% if user.is_superuser %}
                <button type="button" class="btn-xs btn-outline-primary align-top" style="height:0; text-decoration: none !important;" data-toggle="modal" data-target="#teamModal">+</button>
            {% elif user.is_authenticated %}
                <a tabindex="0" class="btn-xs btn-outline-danger align-top disabled text-nowrap" style="height: 0" role="button" data-toggle="popover" data-trigger="focus" title="Brak uprawnień" data-content="Nie posiadasz wystarczających uprawnień do tego typu akcji">X</a>
            {% else %}
                <a href="/register/" class="btn-xs btn-outline-primary align-top" style="border-radius: 20%; height: 0px;">+</a>
            {% endif %}
        </div>
        <hr>
        <br>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nazwa</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for t in page_obj %}
                <tr>
                    <th scope="row">{{ t.id }}</th>
                    <td>{{ t.team_nazwa }}</td>
                    <td>
                        {% if user.is_authenticated %}
                            <a class="text-muted" href="/team/{{ t.id }}" style="font-size:8px">Edytuj  </a>
                            <a class="text-muted" href="/team/{{ t.id }}/del" style="font-size:8px">  Usuń</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>


        <!--Pagination-->
        <div class="container">
            <div class="pagination justify-content-center">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
        <!--end of Pagination-->

    </div>

    <div class="modal fade" tabindex="-1" id="teamModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Dodaj drużynę</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ uteam|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="submit" name="testo" class="btn btn-primary">Zapisz zmiany</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}